
.projetos {
    display: flex;
    flex-direction: column;
    gap: 3em;
    
    grid-area: projetos;
    max-width: 100%;
}

.container-links {
    display: flex;
    flex-direction: column;
    gap: 7em;

}

.lista-links {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    justify-content: space-around;
}

.projetos a {
    text-decoration: none;
    background-color: var(--green);
    color: #ffffff;
    display: flex;
    padding: 1em;
    border-radius: 1em;
    border-left: 10px solid #f3ebeb;
    transition: all .5s ease-in-out;
}

.projetos a:hover {
    color: var(--green);
    background-color: #ffffff;
    border-left: 10px solid #3AA6B9;
}

@media (min-width: 1024px) {
    .container-links {
        flex-direction: row;
    }
}